version: '3.9'

services:

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: naseera02/mean-backend:latest
    container_name: backend
    restart: always
    build:
      context: ./backend
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanapp
    ports:
      - "3000:3000"

  frontend:
    image: naseera02/mean-frontend:latest
    container_name: frontend
    restart: always
    build:
      context: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  mongo_data:
